@using PointNet.Data.Models
@using PointNet.Web.ViewModels.Catalog
@model PaginatedList<ProductViewModel>
@{
    this.ViewData["Title"] = "Products";
}

<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/addToCartButton.css">*@
</head>

<h1 class="text-center">Products</h1>

<partial name="_ProductsPagePartial" />

<script src="~/js/site.js"></script>