@using PointNet.Data.Models
@using PointNet.Web.ViewModels.Catalog
@model PaginatedList<ProductViewModel>
@{
    this.ViewData["Title"] = "Products";
}

<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/addToCartButton.css">*@
</head>

<h1 class="text-center">Products</h1>

@*<div class="container">
        <div class="row">
            @{
                foreach (var product in Model)
                {
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <a class="thumbnail" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@product.Id">
                            <img src="@product.ImageUrl" alt="@product.Title" class="img-fluid" />
                        </a>
                        <div class="text-center">
                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id"><button type="button" class="btn btn-primary btn-lg" title="View More">View More</button></a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>*@

<partial name="_ProductsPagePartial" />

<script src="~/js/site.js"></script>