@using PointNet.Web.ViewModels.Catalog
@model ProductViewModel

@{
    ViewData["Title"] = "_CommentsPartial";
}

<h1>_CommentsPartial</h1>


@{
    if (Model.Comments.Count() != null)
    {
        foreach (var comment in Model.Comments)
        {
            <li>
                <p>
                    @Html.Raw(@comment.Content)
                </p>
            </li>
        }

    }
}