
@using PointNet.Web.ViewModels.ShoppingCart
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "ShoppingCart";
}


@{
    decimal totalCartValue = 0;
}


<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">
                    Your Shopping Cart
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            if (Model != null)
                            {
                                foreach (var item in Model.ShoppingCartItems)
                                {
                                                <tr>
                                                    <td class="w-25">
                                                        <img src="@item.ImageUrl" class="img-fluid img-thumbnail" alt="Sheep">
                                                    </td>
                                                    <td>@item.Title</td>
                                                    <td>$@item.Price</td>
                                                    <td class="qty"><input type="text" class="form-control" id="input1" value="@item.Amount"></td>
                                                    <td>$@(item.Amount * item.Price)</td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-times"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                    totalCartValue += (item.Amount * item.Price);
                                }
                            }
                            else
                            {
                                <h1>Your Shopping Cart is Empty!</h1>
                            }

                        }
                        
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <h5>Total: <span class="price text-success">$@totalCartValue</span></h5>
                </div>
            </div>
            <div class="modal-footer border-top-0 d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Checkout</button>
            </div>
        </div>
    </div>
</div>