@using PointNet.Web.ViewModels.ShoppingCart
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

@{
    decimal totalCartValue = 0;
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/shoppingCart.css" />
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var item in Model.ShoppingCartItems)
                    {
                        <tr>
                            <th class="text-center">
                                @{
                                    if (item.ImageUrl == null)
                                    {
                                        <img class="shopping-cart-img img-fluid" src="~/uploads/@item.ImageName" />
                                    }
                                    else
                                    {
                                        <img class="shopping-cart-img img-fluid" src="@item.ImageUrl" />
                                    }
                                }
                            </th>
                            <td>@item.Title</td>
                            <td>$@item.Price</td>
                            <td>@item.Amount</td>
                            <td>$@(item.Amount * item.Price)</td>
                            <td>
                                <a asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                    <i class="fa fa-times">Remove</i>
                                </a>
                            </td>
                        </tr>

                        totalCartValue += (item.Amount * item.Price);
                    }
                }
                else
                {
                    <h1>Your Shopping Cart is Empty!</h1>
                }
            }
        </tbody>

        <tbody>
            <tr>
                <td scope="col"><h3>Total</h3></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><h3>$@totalCartValue</h3></td>
            </tr>
        </tbody>

    </table>
</body>