
@using PointNet.Web.ViewModels.ShoppingCart
@model ShoppingCartViewModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

@{
    foreach (var item in Model.ShoppingCartItems)
    {
        <li>@item.Title</li>
    }
}