<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Categories</h2>
        <hr class="solid">
        <div class="row">
            <div class="col-md-3">
                <div class="product-top">
                    <h3 class="text-center">SmartPhones</h3>
                    <img class="img-thumbnail" src="https://www.oficinadanet.com.br/imagens/post/25420/top-10-smartphones-de-1000-ate-1500-reais.jpg">
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-lg" title="View More">View More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>